
  <h1>About Page</h1>

  <h3>Take over Seattle in Risk City.</h3>
  <p> It's like the classic game of Risk except the board is dynamic and changing based on realtime data and events (well, it will be soon.) </p>

  <p>Planned Features include:</p>
  <ul>
    <li>- Dice roll battles to take over neighborhoods</li>
    <li>- Multiplayer or computer opponents</li>
    <li>- Real world conditions affect units (weather, traffic, neighborhood locations)</li>
    <li>- Give your units a boost by checking in at real world locations</li>
    <li>- Units with names!</li>
    <li>- ...and more!</li>
  </ul>
  <br>
  <p>Risk City was built using Sails, Mongo, Angular and Materialize.</p>

