h1 {
  font-weight: 300;
  font-style: italic;
  font-variant: small-caps;
  font-size: 50px;
}

#map-wrapper {
  /*position: relative;*/
  height: 320px;
  /*margin: 0 0 20px;*/
  overflow: hidden;
}
/*body {
  margin:0;
  padding:0;
}*/

#map {
  /*position: absolute;*/
/*  top: 75px;
  bottom: 0;
  left: 550px;*/
  width: 600px;
  height: 600px;
  /*float: right;*/
}

.ui-control {
  background:#fff;
  position:absolute;
  top:10px;
  right:10px;
  padding:10px;
  z-index:100;
  border-radius:3px;
  }

.info {
  width: 300px;
  border: 1px solid black;
  padding: 7px;
  border-radius: 3px;
}
